<tr>
  <th class="persona__avatar"><%= render "icons/#{resource.provider.underscore}", classes: 'connection__icon' %></th>
  <th class="persona__name"><%= resource.name %></th>
  <td class="persona__email"><%= link_to 'Manage', resource.manage_url, target: :_blank %></td>
</tr>
