<tr>
  <td><%= render "icons/#{resource.provider.underscore}", classes: 'connection__icon' %></td>
  <td><%= resource.name %><br><small><%= resource.provider %> <%= resource.external_type %></small></td>
  <td></td>
  <td></td>
</tr>
