@use 'icons' as icons;

.connections {
  &__heading {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  &__title {
    display: inline;
  }

  &__reaudit {
    display: inline-flex;

    button {
      --background-color: transparent;
      --color: var(--primary);
      --border-radius: 999px;
      display: flex;
      height: 3em;
      width: 7em;
      padding: 0.7em;
      align-items: center;
      display: flex;
      gap: 0.35em;

      &[aria-busy=true] {
        .connections__icon {
          display: none;
        }

        &::before {
          height: 24px;
          width: 24px;
          margin: 0;
        }
      }
    }
  }

  &__icon {
    @include icons.icon--small;
  }
}
