@use 'icons' as icons;

.connections {
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
  }

  &__title {
    display: inline;
    margin: 0;
  }

  &__reaudit {
    display: inline-flex;
    margin: 0;

    button {
      margin: 0;
      &[aria-busy=true] {
        .connections__icon {
          display: none;
        }

        &::before {
          height: 24px;
          width: 24px;
          margin: 0;
        }
      }
    }
  }

  &__icon {
    @include icons.icon--small;
  }

  table {
    table-layout: fixed;
  }
  tr:not(:last-child) td {
    border: none;
  }
}
