@use 'icons' as icons;

.new-connections {
  &__list {
    display: flex;
    gap: 1em;
  }

  &__item {
    list-style: none;
  }

  &__button {
    --background-color: unset;
    --border-radius: 100%;
    --color: var(--color);

    aspect-ratio: 1;
    display: flex;

    &:hover {
      --background-color: unset;
      --color: var(--color);
    }
  }

  &__icon {
    @include icons.icon--medium;

    margin: auto;
  }
}
