---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/orgs/ilm-labs/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CREDENTIAL:providers.git_hub.bot.token>
      X-Github-Api-Version:
      - '2022-11-28'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5b9f51b94dd19efe1d45ed80245c082e589da0994fce963071fd588f90f44bf2"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - members=read
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1691984587'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"frayzil","id":27231393,"node_id":"MDQ6VXNlcjI3MjMxMzkz","avatar_url":"https://avatars.githubusercontent.com/u/27231393?v=4","gravatar_id":"","url":"https://api.github.com/users/frayzil","html_url":"https://github.com/frayzil","followers_url":"https://api.github.com/users/frayzil/followers","following_url":"https://api.github.com/users/frayzil/following{/other_user}","gists_url":"https://api.github.com/users/frayzil/gists{/gist_id}","starred_url":"https://api.github.com/users/frayzil/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/frayzil/subscriptions","organizations_url":"https://api.github.com/users/frayzil/orgs","repos_url":"https://api.github.com/users/frayzil/repos","events_url":"https://api.github.com/users/frayzil/events{/privacy}","received_events_url":"https://api.github.com/users/frayzil/received_events","type":"User","site_admin":false}]'
  recorded_at: Mon, 14 Aug 2023 02:51:35 GMT
recorded_with: VCR 6.2.0
