---
http_interactions:
- request:
    method: get
    uri: https://api.atlassian.com/oauth/token/accessible-resources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CREDENTIAL:providers.jira.bot.token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Typeoptions:
      - nosniff
      Etag:
      - W/"e6-+0SqSw6nQij5SPx6AB9H+q7EP2s"
      X-Trace-Id:
      - bc9365f6c1c3fe96
      Atl-Traceid:
      - bc9365f6c1c3fe96
    body:
      encoding: UTF-8
      string: '[{"id":"7b7ab686-79f7-4375-9d1e-327a882f2c0b","url":"https://quester-xyz.atlassian.net","name":"quester-xyz","scopes":["read:jira-user"],"avatarUrl":"https://site-admin-avatar-cdn.prod.public.atl-paas.net/avatars/240/jersey.png"}]'
  recorded_at: Wed, 16 Aug 2023 05:39:32 GMT
recorded_with: VCR 6.2.0
