---
http_interactions:
- request:
    method: post
    uri: https://app.asana.com/-/oauth_token
    body:
      encoding: US-ASCII
      string: client_secret=<CREDENTIAL:providers.asana.app.client_secret>&client_id=<CREDENTIAL:providers.asana.app.client_id>&redirect_uri=<URL:host_url>%2Fxapp%2Fproviders%2FAsana%2Fredirects%2Fnew&grant_type=authorization_code&code=<CREDENTIAL:providers.asana.bot.code>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Asana-Content-String-Length:
      - '536'
      X-Asana-Wsm-Rid:
      - 2URWxvTFBdf1G4s8Nny9K5urAC4
      Datacenter-Time-End:
      - '1692903122.561'
      X-Loadbalancer:
      - prod-lb014.ec2
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "<CREDENTIAL:providers.asana.bot.token>",
          "token_type": "bearer",
          "expires_in": 3600,
          "data": {
            "id": 251784392569238,
            "gid": "251784392569238",
            "name": "Fazil Basheer Syed",
            "email": "fazil.basheer@quester.xyz"
          },
            "refresh_token": "<CREDENTIAL:providers.asana.bot.refresh_token>"
        }
  recorded_at: Thu, 24 Aug 2023 18:52:03 GMT
recorded_with: VCR 6.2.0
