---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/app/installations/1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CREDENTIAL:providers.git_hub.bot.jwt>
      X-Github-Api-Version:
      - '2022-11-28'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d19806bd42c13da4753f31a10cb93aa6a271f64b3696b6846759d6a8f2fc9ad3"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
    body:
      encoding: ASCII-8BIT
      string: '{"id":40676413,"account":{"login":"ilm-labs","id":45540381,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQ1NTQwMzgx","avatar_url":"https://avatars.githubusercontent.com/u/45540381?v=4","gravatar_id":"","url":"https://api.github.com/users/ilm-labs","html_url":"https://github.com/ilm-labs","followers_url":"https://api.github.com/users/ilm-labs/followers","following_url":"https://api.github.com/users/ilm-labs/following{/other_user}","gists_url":"https://api.github.com/users/ilm-labs/gists{/gist_id}","starred_url":"https://api.github.com/users/ilm-labs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ilm-labs/subscriptions","organizations_url":"https://api.github.com/users/ilm-labs/orgs","repos_url":"https://api.github.com/users/ilm-labs/repos","events_url":"https://api.github.com/users/ilm-labs/events{/privacy}","received_events_url":"https://api.github.com/users/ilm-labs/received_events","type":"Organization","site_admin":false},"repository_selection":"all","access_tokens_url":"https://api.github.com/app/installations/40676413/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/ilm-labs/settings/installations/40676413","app_id":355488,"app_slug":"1bord-basic","target_id":45540381,"target_type":"Organization","permissions":{"members":"read","metadata":"read","administration":"read"},"events":["member","membership","organization","repository","team","team_add"],"created_at":"2023-08-13T15:09:48.000Z","updated_at":"2023-08-13T15:09:49.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
  recorded_at: Sun, 13 Aug 2023 15:56:06 GMT
recorded_with: VCR 6.2.0
