---
http_interactions:
- request:
    method: get
    uri: https://api.heroku.com/teams/f791bb9c-b813-4521-9368-a9a80d4c02fa/invitations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CREDENTIAL:providers.heroku.bot.token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global
      Ratelimit-Multiplier:
      - '1'
      Ratelimit-Remaining:
      - '4494'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"45789bae-8618-45e7-85a9-3c76abb8fe6a","created_at":"2023-08-21T08:12:09Z","invited_by":{"id":"<CREDENTIAL:providers.heroku.bot.id>","email":"fazil.basheer@quester.xyz","name":"Fazil
        Basheer"},"role":"member","team":{"id":"f791bb9c-b813-4521-9368-a9a80d4c02fa","name":"test-team-1bord"},"updated_at":"2023-08-21T08:12:09Z","user":{"id":"ca047670-4998-4052-8582-6e0d096092a8","email":"fazil@hey.com","name":null}}]'
  recorded_at: Mon, 21 Aug 2023 08:31:07 GMT
recorded_with: VCR 6.2.0
