---
http_interactions:
- request:
    method: get
    uri: https://api.atlassian.com/ex/jira/7b7ab686-79f7-4375-9d1e-327a882f2c0b/rest/api/3/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CREDENTIAL:providers.jira.bot.token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - d1fd5e8fb70987dafa2bd8c47fb89b84
      X-Aaccountid:
      - 557058%3A34b043d6-eaf8-4610-bda1-df750e9036ee
      X-Trace-Id:
      - abad9d0166733e1e
      Atl-Traceid:
      - abad9d0166733e1e
    body:
      encoding: ASCII-8BIT
      string: '[{"self":"https://api.atlassian.com/ex/jira/7b7ab686-79f7-4375-9d1e-327a882f2c0b/rest/api/3/user?accountId=557058:34b043d6-eaf8-4610-bda1-df750e9036ee","accountId":"557058:34b043d6-eaf8-4610-bda1-df750e9036ee","accountType":"atlassian","emailAddress":"fazil.basheer@quester.xyz","avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/c32d7ac077328b3e6997f46366282f7f?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FFB-3.png","24x24":"https://secure.gravatar.com/avatar/c32d7ac077328b3e6997f46366282f7f?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FFB-3.png","16x16":"https://secure.gravatar.com/avatar/c32d7ac077328b3e6997f46366282f7f?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FFB-3.png","32x32":"https://secure.gravatar.com/avatar/c32d7ac077328b3e6997f46366282f7f?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FFB-3.png"},"displayName":"Fazil
        Basheer","active":true,"locale":"en_US"},{"self":"https://api.atlassian.com/ex/jira/7b7ab686-79f7-4375-9d1e-327a882f2c0b/rest/api/3/user?accountId=557058:f58131cb-b67d-43c7-b30d-6b58d40bd077","accountId":"557058:f58131cb-b67d-43c7-b30d-6b58d40bd077","accountType":"app","avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAJ-0.png","24x24":"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db[...]
