---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/<CREDENTIAL:providers.git_hub.bot.id>/access_tokens
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
        - Bearer <CREDENTIAL:providers.github.bot.jwt>
      X-Github-Api-Version:
      - '2022-11-28'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b7883ed03d6068f117c469319ae8695ee53aac506465bfacd39f67aea03359db"'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
    body:
      encoding: UTF-8
      string: '{"token":"<CREDENTIAL:providers.git_hub.bot.token>","expires_at":"<%= (Time.current + 1.hour).strftime('%Y-%m-%dT%H:%M:%SZ') %>","permissions":{"members":"read","administration":"read","metadata":"read"},"repository_selection":"all"}'
  recorded_at: Sun, 13 Aug 2023 14:17:55 GMT
recorded_with: VCR 6.2.0
