---
http_interactions:
- request:
    method: get
    uri: https://app.asana.com/api/1.0/users/251784392569238
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CREDENTIAL:providers.asana.bot.token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Asana-Api-Version:
      - '1.1'
      Asana-Change:
      - name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true
      - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828
      Datacenter-Time-End:
      - '1692953725.534'
      X-Loadbalancer:
      - prod-lb012.ec2
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"gid":"251784392569238","email":"fazil.basheer@quester.xyz","name":"Fazil
        Basheer Syed","photo":{"image_21x21":"https://s3.us-east-1.amazonaws.com/asana-user-private-us-east-1/assets/251784408661470/profile_photos/1204208105512325/251784392569238.251784408733268.xzzpcTmj3KHeGliCQduL_21x21.png","image_27x27":"https://s3.us-east-1.amazonaws.com/asana-user-private-us-east-1/assets/251784408661470/profile_photos/1204208105512325/251784392569238.251784408733268.xzzpcTmj3KHeGliCQduL_27x27.png","image_36x36":"https://s3.us-east-1.amazonaws.com/asana-user-private-us-east-1/assets/251784408661470/profile_photos/1204208105512325/251784392569238.251784408733268.xzzpcTmj3KHeGliCQduL_36x36.png","image_60x60":"https://s3.us-east-1.amazonaws.com/asana-user-private-us-east-1/assets/251784408661470/profile_photos/1204208105512325/251784392569238.251784408733268.xzzpcTmj3KHeGliCQduL_60x60.png","image_128x128":"https://s3.us-east-1.amazonaws.com/asana-user-private-us-east-1/assets/251784408661470/profile_photos/1204208105512325/251784392569238.251784408733268.xzzpcTmj3KHeGliCQduL_128x128.png"},"resource_type":"user","workspaces":[{"gid":"251784408661470","name":"quester.xyz","resource_type":"workspace"},{"gid":"498346170860","name":"Personal
        Projects","resource_type":"workspace"},{"gid":"1205350407117062","name":"Testing
        for 1Bord","resource_type":"workspace"}]}}'
  recorded_at: Fri, 25 Aug 2023 08:55:25 GMT
[...]
