---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: US-ASCII
      string: client_secret=<CREDENTIAL:providers.google.app.client_secret>&client_id=<CREDENTIAL:providers.google.app.client_id>&redirect_uri=<URL:host_url>%2Fxapp%2Fproviders%2FGoogle%2Fredirects%2Fnew&grant_type=authorization_code&code=<CREDENTIAL:providers.google.bot.code>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "<CREDENTIAL:providers.google.bot.token>",
          "expires_in": 3599,
          "refresh_token": "<CREDENTIAL:providers.google.bot.refresh_token>",
          "scope": "https://www.googleapis.com/auth/admin.directory.user.readonly",
          "token_type": "Bearer"
        }
  recorded_at: Wed, 23 Aug 2023 04:30:50 GMT
recorded_with: VCR 6.2.0
