---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/oauth.v2.access
    body:
      encoding: US-ASCII
      string: client_id=<CREDENTIAL:providers.slack.app.client_id>&client_secret=<CREDENTIAL:providers.slack.app.client_secret>&code=<CREDENTIAL:providers.slack.bot.code>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 79606e0b11c000820e0c92f03553352e
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Unique-Id:
      - ZNjf1wU94Z-C6UrBPNyV0wAAADQ
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-aeco
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"app_id":"A05FDCGGTGS","authed_user":{"id":"U05FFG63TUL"},"scope":"users:read,users:read.email,incoming-webhook","token_type":"bot","access_token":"<CREDENTIAL:providers.slack.bot.token>","bot_user_id":"<CREDENTIAL:providers.slack.bot.id>","team":{"id":"T05G2Q317DW","name":"Quester"},"enterprise":null,"is_enterprise_install":false}'
  recorded_at: Sun, 13 Aug 2023 13:51:19 GMT
recorded_with: VCR 6.2.0
