---
http_interactions:
- request:
    method: get
    uri: https://app.asana.com/api/1.0/workspaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CREDENTIAL:providers.asana.bot.token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Asana-Api-Version:
      - '1.1'
      Asana-Change:
      - name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true
      - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828
      Datacenter-Time-End:
      - '1692937423.126'
      X-Loadbalancer:
      - prod-lb015.ec2
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"gid":"251784408661470","name":"quester.xyz","resource_type":"workspace"},{"gid":"498346170860","name":"Personal
        Projects","resource_type":"workspace"},{"gid":"1205350407117062","name":"Testing
        for 1Bord","resource_type":"workspace"}]}'
  recorded_at: Fri, 25 Aug 2023 04:23:44 GMT
recorded_with: VCR 6.2.0
