---
http_interactions:
- request:
    method: post
    uri: https://auth.atlassian.com/oauth/token
    body:
      encoding: US-ASCII
      string: grant_type=authorization_code&client_id=<CREDENTIAL:providers.jira.app.client_id>&client_secret=<CREDENTIAL:providers.jira.app.client_secret>&redirect_uri=<URL:host_url>%2Fxapp%2Fproviders%2FJira%2Fredirects%2Fnew&code=<CREDENTIAL:providers.jira.bot.code>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Atl-Traceid:
      - 8d7a8c750fa81f84
    body:
      encoding: UTF-8
      string: '{"access_token":"<CREDENTIAL:providers.jira.bot.token>","expires_in":3600,"token_type":"Bearer","scope":"read:jira-user"}'
  recorded_at: Wed, 16 Aug 2023 03:50:39 GMT
recorded_with: VCR 6.2.0
