---
http_interactions:
- request:
    method: post
    uri: https://id.heroku.com/oauth/token
    body:
      encoding: US-ASCII
      string: grant_type=authorization_code&client_secret=<CREDENTIAL:providers.heroku.app.client_secret>&code=<CREDENTIAL:providers.heroku.bot.code>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<CREDENTIAL:providers.heroku.bot.token>","expires_in":28799,"refresh_token":"<CREDENTIAL:providers.heroku.bot.refresh_token>","token_type":"Bearer","user_id":"<CREDENTIAL:providers.heroku.bot.id>","session_nonce":null}'
  recorded_at: Sun, 20 Aug 2023 11:35:50 GMT
recorded_with: VCR 6.2.0
