---
http_interactions:
- request:
    method: get
    uri: https://admin.googleapis.com/admin/directory/v1/users?customer=my_customer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CREDENTIAL:providers.google.bot.token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"1gEpsJzat4qaI0LSSebTwaVpQFUSndNYiZAzBjRDkXM/owTtU3tG4vFYfnhchBxktErJHv0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "admin#directory#users",
          "etag": "\"1gEpsJzat4qaI0LSSebTwaVpQFUSndNYiZAzBjRDkXM/owTtU3tG4vFYfnhchBxktErJHv0\"",
          "users": [
            {
              "kind": "admin#directory#user",
              "id": "109300639683894140402",
              "etag": "\"1gEpsJzat4qaI0LSSebTwaVpQFUSndNYiZAzBjRDkXM/PrqmPSvk_YuppLc_DQMTd6969dY\"",
              "primaryEmail": "fazil@quester.xyz",
              "name": {
                "givenName": "Fazil Basheer",
                "familyName": "Syed",
                "fullName": "Fazil Basheer Syed"
              },
              "isAdmin": true,
              "isDelegatedAdmin": false,
              "lastLoginTime": "2023-08-23T03:48:42.000Z",
              "creationTime": "2023-08-22T03:33:20.000Z",
              "agreedToTerms": true,
              "suspended": false,
              "archived": false,
              "changePasswordAtNextLogin": false,
              "ipWhitelisted": false,
              "emails": [
                {
                  "address": "fazil@quester.xyz",
                  "primary": true
                },
                {
                  "address": "fazil@quester.xyz.test-google-a.com"
                }
              ],
              "languages": [
                {
                  "languageCode": "en-GB",
                  "preference": "preferred"
                }
              ],
              "nonEditableAliases": [
                "fazil@quester.xyz.test-google-a.com"
              ],
              "customerId": "C02y0zxil",
              "orgUnitPath": "/",
              "isMailboxSetup": true,
              "isEnrolledIn2Sv": false,
              "isEnforcedIn2Sv": false,
              "includeInGlobalAddressList": true,
              "recoveryEmail": "fazil@hey.com"
            },
            {
              "kind": "admin#directory#user",
              "id": "100688281670060164483",
              "etag": "\"1gEpsJzat4qaI0LSSebTwaVpQFUSndNYiZAzBjRDkXM/E3WtX9TxPxJu5USn8R5zj7BrcNo\"",
              "primaryEmail": "reshman@quester.xyz",
              "name": {
                "givenName": "Reshman Sulthana",
                "familyName": "Nazeer",
                "fullName": "Reshman Sulthana Nazeer"
              },
              "isAdmin": [...]
