---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/team.info?team=T05G2Q317DW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CREDENTIAL:providers.slack.bot.token>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 2bb7b1ee0d8f61a018361b4c01584daa
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - team:read
      X-Oauth-Scopes:
      - users:read,users:read.email,team:read
      X-Slack-Unique-Id:
      - ZOzW2RO_DtTk8bqEj-AjWgAAEBU
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-oqeb
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"team":{"id":"T05G2Q317DW","name":"Quester","url":"https:\/\/quester-group.slack.com\/","domain":"quester-group","email_domain":"","icon":{"image_default":true,"image_34":"https:\/\/a.slack-edge.com\/80588\/img\/avatars-teams\/ava_0000-34.png","image_44":"https:\/\/a.slack-edge.com\/80588\/img\/avatars-teams\/ava_0000-44.png","image_68":"https:\/\/a.slack-edge.com\/80588\/img\/avatars-teams\/ava_0000-68.png","image_88":"https:\/\/a.slack-edge.com\/80588\/img\/avatars-teams\/ava_0000-88.png","image_102":"https:\/\/a.slack-edge.com\/80588\/img\/avatars-teams\/ava_0000-102.png","image_230":"https:\/\/a.slack-edge.com\/80588\/img\/avatars-teams\/ava_0000-230.png","image_132":"https:\/\/a.slack-edge.com\/80588\/img\/avatars-teams\/ava_0000-132.png"},"avatar_base_url":"https:\/\/ca.slack-edge.com\/","is_verified":false}}'
  recorded_at: Mon, 28 Aug 2023 17:18:17 GMT
recorded_with: VCR 6.2.0
