---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/orgs/ilm-labs/outside_collaborators
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CREDENTIAL:providers.git_hub.bot.token>
      X-Github-Api-Version:
      - '2022-11-28'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"89b756b6350306d31b3b75444b65e1de5d4eec1f2fe38fb4e5e2225e10f5ef13"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - members=read
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1691990733'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"csomesh","id":25361167,"node_id":"MDQ6VXNlcjI1MzYxMTY3","avatar_url":"https://avatars.githubusercontent.com/u/25361167?v=4","gravatar_id":"","url":"https://api.github.com/users/csomesh","html_url":"https://github.com/csomesh","followers_url":"https://api.github.com/users/csomesh/followers","following_url":"https://api.github.com/users/csomesh/following{/other_user}","gists_url":"https://api.github.com/users/csomesh/gists{/gist_id}","starred_url":"https://api.github.com/users/csomesh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/csomesh/subscriptions","organizations_url":"https://api.github.com/users/csomesh/orgs","repos_url":"https://api.github.com/users/csomesh/repos","events_url":"https://api.github.com/users/csomesh/events{/privacy}","received_events_url":"https://api.github.com/users/csomesh/received_events","type":"User","site_admin":false},{"login":"KR4705","id":17098301,"node_id":"MDQ6VXNlcjE3MDk4MzAx","avatar_url":"https://avatars.githubusercontent.com/u/17098301?v=4","gravatar_id":"","url":"https://api.github.com/users/KR4705","html_url":"https://github.com/KR4705","followers_url":"https://api.github.com/users/KR4705/followers","following_url":"https://api.github.com/users/KR4705/following{/other_user}","gists_url":"https://api.github.com/users/KR4705/gists{/gist_id}","starred_url":"https://api.github.com/users/KR4705/st[...]
