<h1>Company: <%= @company.name %></h1>
<p>Email: <%= @company.email %></p>

<ul>
  <% %w[git_hub slack].each do |provider| %>
    <li>
      <%= render "icons/#{provider}", classes: 'icon icon--medium' %>
      <%= link_to "Connect to #{provider.camelize}", route_for(provider), target: :_blank %>
    </li>
  <% end %>
</ul>
