<nav>
  <ul>
    <li><strong>1bord</strong></li>
    <% if Account::Current.company %>
      |<li><%= Account::Current.company.name ||
        Account::Current.company.email.split('@').last %></li>
    <% end %>
  </ul>


  <ul>
    <% if Account::Current.user %>
      <li><%= Account::Current.user.email %></li>
      <li><%= button_to [:destroy, :account, :user, :session],
                        method: :delete do %>
        <%= render 'icons/logout' %>
        Log out
      <% end %></li>
    <% end %>
  </ul>
</nav>
