// Sassy
@use 'connections/new';
@use 'connections/show';
@use 'connections/index';

@use 'account/sessions';
@use 'account/registrations';

@use 'personas';

// Default, Light System
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --button-background-color: #cecece;
  --button-hover-background-color: #dfdfdf;
  --button-text-color: #404040;
}

// Dark System
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --button-background-color: #404040;
    --button-hover-background-color: #4a4a4a;
    --button-text-color: #cecece;
  }
}

// Dark Element
[data-theme="dark"] {
  --primary: #d81b60;
  --primary-hover: #e91e63;
  --primary-focus: rgba(216, 27, 96, 0.25);
  --primary-inverse: #FFF;
}

:root {
}

button, a[role="button"] {
  --background-color: var(--button-background-color);
  --border-radius: 999px;
  --color: var(--button-text-color);
  padding: 0.7em;
  height: 3em;
  gap: 0.35em;
  align-items: center;
  width: 7em;
  border: none;

  display: flex;

  &:hover {
    scale: 1.05;
    --background-color: var(--button-hover-background-color);
    --color: var(--button-text-color);
  }

  svg {
    height: 24px;
    width: 24px;
  }
}

form.button_to {
  margin: unset;
}

nav {
  padding: 1em;
  --background-color: gray;
}

main {
  display: grid;
}
