.persona {
  padding: 0 8px;

  &__avatar {
    width: 32px;
    padding: 0px;

    img, svg {
      width: 32px;
      margin: auto;
    }
  }

  &__email, &__name {
    word-wrap: normal;
    overflow: hidden;
    text-overflow: clip;
  }
}
