.persona {
  &__avatar {
    width: 32px;
    padding: 0px;

    img, svg {
      width: 32px;
      margin: auto;
    }

    img {
      border-radius: 999px;
    }
  }

  &__email, &__name {
    word-wrap: normal;
    overflow: hidden;
    text-overflow: clip;
    padding: 0.65rem;
    padding-right: 0;
  }

  &__manage-link {
    float: right;
  }

  &__manage-icon {
    height: 24px;
    width: 24px;
  }
}
