.persona {
  &__avatar {
    width: 40px;

    img {
      max-width: unset;
    }
  }

  &__name {
    max-width: 200px;
    width: 200px;
    word-wrap: normal
  }

  &__email {
    max-width: 200px;
    width: 200px;
    word-wrap: normal
  }
}
